<div>
  <b>Date Range</b>
</div>
<!--<my-date-range-picker [options]="myDateRangePickerOptions"
                      (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>-->

<form [formGroup]="myForm" novalidate>
  <my-date-range-picker name="ngModelDateRange" [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)"
                        formControlName="myDateRange" [(ngModel)]="model"></my-date-range-picker>
  <!-- other controls are here... -->
</form>
