<!--<div leaflet class="map" [style.height]="height+'px'" style="height: 700px; z-index:1;"-->
<div leaflet class="map" [style.height]="height+'px'" style="height: 900px; z-index:1;"
     [leafletOptions]="mapOptions"
     [leafletZoom]="zoom"
     [leafletCenter]="center"
     [leafletFitBounds]="fitBounds"
     [leafletBaseLayers]="baseLayers"
     [leafletLayersControlOptions]="layersControlOptions"
     (leafletMapReady)="onMapReady($event)"
     [leafletMarkerCluster]="markerClusterData"
     [leafletMarkerClusterOptions]="markerClusterOptions"
     (leafletMarkerClusterReady)="markerClusterReady($event)">
</div>

