<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img id="nav-img" alt="Brand" src="../assets/img/logo-menu-simple-u.png">
      </a>
    </div>
  </div>
</nav>
<div class="container-fluid">

  <div class="row">
    <div id="input-component" class="col-md-2">
      <h3>Search</h3>
      <app-inputs>
      </app-inputs>
      <div class="col-md-12">
        <app-monthly-filter>
        </app-monthly-filter>
      </div>

    </div>
    <div class="col-md-8">
      <div class="col-md-12">
        <app-map>
        </app-map>
      </div>

      <div class="col-md-6" style="position:absolute;z-index: 100;top: 0;right: 0; height: 0;">
        <app-result-table >
        </app-result-table>
      </div>
    </div>
    <div class="col-md-2">
      <app-result-visualiations>
      </app-result-visualiations>
    </div>
  </div>
</div>
