<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img id="nav-img" alt="Brand" src="../assets/img/logo-menu-simple-u.png">
      </a>
    </div>
  </div>
</nav>
<div class="container-fluid">

  <div class="row">
    <div class="col-md-3">
        <h3>Search</h3>
        <app-inputs>
        </app-inputs>
      <div class="col-md-12">
        <app-monthly-filter>
        </app-monthly-filter>
      </div>

    </div>
    <div class="col-md-6">
      <div class="col-md-12">
        <h3>Map</h3>
        <app-map>
        </app-map>
      </div>

      <div class="col-md-12">
        <h3>Incident Table</h3>
        <app-result-table>
        </app-result-table>
      </div>
    </div>
    <div class="col-md-3">
      <h3>Result Visualizations</h3>
      <app-result-visualiations>

      </app-result-visualiations>
    </div>
  </div>
</div>
