<!--<div style="width: 300px; margin-bottom: 20px;">-->
  <div class="form-group" style="margin-bottom: 20px;">
    <label for="selectTypeOfIncident">Select Type of Incident</label>
    <ng-select #select1 id="selectTypeOfIncident"
               [multiple]="true"
               [items]="items"
               [disabled]="disabled"
               (data)="refreshValue($event)"
               (selected)="selected($event)"
               (removed)="removed($event)"
               placeholder="Please Select"></ng-select>
    <!--<pre>{{itemsToString(value)}}</pre>-->

    </div>
